@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@font-face{
  /* font-family: "Gameplay";
  src: url('fonts/Gameplay.ttf'); */
  font-family: "Joystix Monospace";
  src: url('fonts/joystix.ttf');
}
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
/* cursive */
/* Joystix Monospace */
.botao-tela-inicial {
  /* font-family: "Gameplay";  */
  font-family: "Joystix Monospace"; 
  font-weight: 500;
  padding: 1rem 1.25rem;
  font-size: 1.1rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #23058d;
  /* box-shadow: 2px 2px 0px 1px #4a4c69; */
  text-transform: uppercase;
  background-color: #5e3abe;
  /* background-color: #8386b5; */
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: #c7b7f5;
  box-shadow: 2px 2px 0px 1px #5f41af;
  color: #522cbb;
  /* background-color: #fcd9bd;
  box-shadow: 2px 2px 0px 1px #fcb174; */
}

@media (max-width : 800px) {
  .botao-tela-inicial {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}